body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  position: absolute;
  display: flex;
  list-style: none;
  bottom: 0;
  z-index: 99;
}
ul li {
  cursor: pointer;
}
ul li img {
  width: 60px;
  height: 60px;
}
ul li:nth-child(1) img {
  width: 55px;
  height: 60px;
}
ul li:nth-child(3) img {
  width: 63px;
  height: 60px;
}
ul li:hover {
  transform: translateY(-20px);
}
ul li:hover img:hover {
  transform: scale(1.4);
}
ul li:nth-of-type(2) img {
  height: 54px;
  margin-left: 5px;
}
div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  position: absolute;
  background-color: rgb(52, 204, 204);
  width: 650px;
  height: 750px;
  border-top-left-radius: 650px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.logo1 {
  display: flex;
  justify-content: space-around;
  left: 8%;
}
.logo1 img:nth-child(1) {
  width: 300px;
  z-index: 5;
}
.logo1 img:nth-child(2) {
  height: 290px;
  width: 240px;
}
.logo2 {
  display: flex;
  justify-content: space-around;
  left: 8%;
}
.logo2 img:nth-child(1) {
  width: 300px;
  z-index: 3;
  display: none;
}
.logo2 img:nth-child(2) {
  height: 260px;
  width: 250px;
  top: 29%;
  display: none;
}
.logo3 {
  display: flex;
  justify-content: space-around;
  left: 8%;
}
.logo3 img:nth-child(1) {
  width: 300px;
  display: none;
}
.logo3 img:nth-child(2) {
  top: 27%;
  height: 310px;
  width: 300px;
  display: none;
}
i:nth-of-type(1) {
  position: absolute;
  color: rgb(224, 224, 224);
  left: 10px;
  font-size: x-large;
  top: 50%;
  background-color: cadetblue;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  z-index: 999;
}
i:nth-of-type(2) {
  position: absolute;
  color: #fff;
  right: 10px;
  font-size: x-large;
  top: 50%;
  background-color: cadetblue;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  z-index: 999;
}
@media screen and (max-width: 500px) {
  ul {
    bottom: -20px;
  }
  ul li img {
    width: 40px;
    height: 48px;
  }
  ul li:nth-child(2) img {
    width: 57px;
  }
  .back {
    height: 600px;
    width: 550px;
  }
  .logo1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: -16%;
    left: 0;
  }
  .logo1 img:nth-child(2) {
    top: 36%;
    width: 200px;
    height: 240px;
  }
  .logo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: -16%;
    left: 0;
  }
  .logo2 img:nth-child(2) {
    top: 36%;
    width: 220px;
    height: 240px;
  }
  .logo3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: -16%;
    left: 0;
  }
  .logo3 img:nth-child(2) {
    top: 36%;
    width: 220px;
    height: 240px;
  }
}
